*{box-sizing: border-box;}
.white {color: white;}'+'.col-4{width:33.3%; padding:0 10px; display: inline-block; float:left;}
.container{width:1024px;position:relative;}
.max-size{width:100%;height:100%;}
.max-width{width:100%;}
.news{text-align: center;position: absolute;top: -10px;}
.col-4{width:33.3%; padding:0 10px; display: inline-block; float:left;}
